<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home"><i class="fa-solid fa-bowl-food fa-2xl" style="color: #bc1823;"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/home"><b>Home</b></a>
          <a class="nav-link" href="/menu"><b>Menu</b></a>
          <a class="nav-link" href="/byob"><b>BYOB</b></a>
          
        </div>
        <div class="navbar-nav ms-auto">
          <form class="d-flex sachin" role="search">
            <input class="form-control-sm me-2 search-input" type="search" placeholder="Search Delicacy" name="item" style="border: 1px solid black;">
            <button class="btn-sm btn-search" type="submit" style="border: none; border-radius: 5px; background-color: #daa520;"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
          </form>
        </div>
        <div class="navbar-nav ms-auto cart-icon"  style="display:flex;align-items: center;">
          <%if(!curruser){%>
            <a class="nav-link" href="/signup"><b>Sign Up</b></a>
            <a class="nav-link" href="/login"><b>Log In</b></a>
          <%}%>
          <%if(curruser){%>
            <a class="nav-link" href="/logout"><b>Log Out</b></a>
          <%}%>
          <a href="/cart"><i class="fa-solid fa-cart-shopping fa-xl btn" style="color: #daa520;"></i></a>
        </div>
        
      </div>
    </div>
</nav>



